<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/pokestyle.css">
  <title>Document</title>
</head>
<body>
  <header>
    <h1><a href="/">Pokénatra</a></h1>
  </header>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
